<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="superCRM"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="superCRM.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="superCRM.intro.Perspective"
            icon="icons/logo.gif"
            id="SuperCRM.perspective"
            name="默认透视图">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="superCRM.introID">
      </intro>
      <introProductBinding
            introId="superCRM.introID"
            productId="com.fengmanfei.SuperCRM">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="superCRM.introID"
            content="introContent.xml"
            id="SuperCRM.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="ext.xml"
            configId="SuperCRM.configId">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="superCRM.preferences.BasicPreferencePage"
            id="superCRM.preferences.BasicPreferencePage"
            name="基本设置"/>
      <page
            class="superCRM.preferences.LoginPreferencePage"
            id="superCRM.preferences.LoginPreferencePage"
            name="登录设置"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="superCRM.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="superCRM.views.NavView"
            icon="icons/nav.gif"
            id="superCRM.views.NavView"
            name="导航视图"/>
      <view
            allowMultiple="false"
            class="superCRM.views.SearchView"
            icon="icons/search.gif"
            id="superCRM.views.SearchView"
            name="搜索视图"/>
      <view
            allowMultiple="false"
            class="superCRM.views.QuickNewCustomerView"
            icon="icons/customer.gif"
            id="superCRM.views.QuickNewCustomerView"
            name="快速新建客户"/>
      <view
            allowMultiple="false"
            class="superCRM.views.QuickNewContactView"
            icon="icons/contact.gif"
            id="superCRM.views.QuickNewContactView"
            name="快速新建联系人"/>
      <view
            allowMultiple="false"
            class="superCRM.views.CustomerSummaryView"
            icon="icons/list.gif"
            id="superCRM.views.CustomerSummaryView"
            name="客户列表"/>
      <view
            class="superCRM.views.ContactSummaryView"
            icon="icons/list2.gif"
            id="superCRM.views.ContactSummaryView"
            name="联系人列表"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="superCRM.editor.CustomerDetailEditor"
            default="false"
            icon="icons/customer.gif"
            id="superCRM.editor.CustomerDetailEditor"
            name="客户详细信息"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <keyBinding
            commandId="superCRM.action.NewContactAction"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="M1+M2+P"/>
      <category
            id="superCRM.commands"
            name="superCRM"/>
      <command
            categoryId="superCRM.commands"
            id="superCRM.action.NewContactAction"
            name="新建联系人"/>
      <keyBinding
            commandId="superCRM.action.NewCustomerAction"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="M1+M2+O"/>
      <command
            categoryId="superCRM.commands"
            id="superCRM.action.NewCustomerAction"
            name="新建客户"/>
   </extension>
   <extension
         id="superCRM"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.fengmanfei.SuperCRM.superCRM"
            name="superCRM"/>
   </extension>

</plugin>
