<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd"
>

    <bean id="queueSendDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <!-- 设置消息队列的名字 -->
        <constructor-arg>
            <value>renho.demo.queueSendDestination</value>
        </constructor-arg>
    </bean>

    <!-- 消息监听器 -->
    <bean id="consumerReceiveAndBackMessageListener" class="com.renho.demo.activemq.listener.ConsumerReceiveAndBackMessageListener">
        <property name="jmsTemplate" ref="jmsReceiveTemplate"/>
    </bean>
    <bean id="jmsSendTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory" />
        <property name="defaultDestination" ref="queueSendDestination" />
        <property name="receiveTimeout" value="10000" />
        <!--&lt;!&ndash; true是topic，false是queue，默认是false，此处显示写出false &ndash;&gt;-->
        <property name="pubSubDomain" value="false" />
    </bean>
    <bean id="jmsReceiveTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory" />
        <!--<property name="defaultDestination" ref="queueSendDestination" />-->
        <!--<property name="receiveTimeout" value="10000" />-->
        <!--&lt;!&ndash; true是topic，false是queue，默认是false，此处显示写出false &ndash;&gt;-->
        <!--<property name="pubSubDomain" value="false" />-->
    </bean>
    <bean id="jmsSendAndReceiveContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory" />
        <property name="destination" ref="queueSendDestination" />
        <property name="messageListener" ref="consumerReceiveAndBackMessageListener" />
    </bean>
</beans>