<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="BeanFromDb"
            id="com.renho.beanFromDb">
      </category>
      <view
            name="BeanFromDbView"
            icon="icons/sample.gif"
            category="com.renho.beanFromDb"
            class="com.renho.beanfromdb.views.BeanFromDbView"
            id="com.renho.beanfromdb.views.BeanFromDbView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.renho.beanfromdb.views.BeanFromDbView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.renho.beanFromDb.actionSet"
            label="OpenBeanFromDbView Action Set"
            visible="true">
         <menu
               id="BeanFromDbMenu"
               label="BeanFromDb">
            <separator
                  name="content">
            </separator>
         </menu>
         <action
               class="com.renho.beanfromdb.actions.OpenBeanFromDbViewAction"
               icon="icons/sample.gif"
               id="com.renho.beanfromdb.actions.OpenBeanFromDbViewAction"
               label="OpenBeanFromDbView"
               menubarPath="BeanFromDbMenu/content"
               toolbarPath="Normal/addition"
               tooltip="在当前透视图中打开BeanFromDb视图">
         </action>
      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.renho.beanFromDb.dbConfigContribution"
            objectClass="com.renho.beanfromdb.modal.DBConfig">
         <menu
               id="open"
               label="open"
               path="additions">
         </menu>
         <action
               class="com.renho.beanfromdb.actions.OpenDbConfigAction"
               enablesFor="1"
               id="com.renho.beanFromDb.openDbConfigAction"
               label="open"
               menubarPath="open">
         </action>
         <menu
               id="com.renho.beanFromDB.deleteMenu"
               label="delete"
               path="additions">
         </menu>
         <action
               class="com.renho.beanfromdb.DeleteDbConfigAction"
               enablesFor="1"
               id="com.renho.beanFromDB.deleteDbConfigAction"
               label="delete"
               menubarPath="delete">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.renho.beanFromDb.tableContribution"
            objectClass="com.renho.beanfromdb.modal.Table">
         <menu
               id="com.renho.beanFromDb.getBeanMenu"
               label="getBean"
               path="additions">
         </menu>
         <action
               class="com.renho.beanfromdb.actions.GetBeanAction"
               id="com.renho.beanFromDb.getBeanAction"
               label="getBean"
               menubarPath="getBean">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.renho.beanFromDB.createDbViewContribution"
            targetID="com.renho.beanfromdb.views.BeanFromDbView">
         <action
               class="com.renho.beanfromdb.actions.ViewCreateDbAction"
               icon="icons/sample.gif"
               id="com.renho.beanfromdb.actions.viewCreateDbAction"
               label="create dbconfig"
               menubarPath="createDbViewPullDownMenu"
               style="push"
               toolbarPath="additions"
               tooltip="create Db config">
         </action>
         <menu
               id="createDbViewPullDownMenu"
               label="create dbconfig"
               path="addtions">
         </menu>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="com.renho.beanfromdb.ExportNewWizard"
            id="com.renho.beanFromDb.exportWizard"
            name="exportWizard">
      </wizard>
   </extension>

</plugin>
