
#ul{
			position: absolute;		
			width:15%;
			left:40%;
			top:0px;
			background: white;
			margin-top:-33px;
			border-top: none;
			display: none;
		}
		#ul li a{
			text-align: center;			
			padding-bottom: 5px;
			border-bottom: 1px solid #ccc;
			color:#00c1d1;
			display: flex;
			justify-content: space-around;
		}
		#ul li a .color-none{
			color:black
		}
		.more-container{
			position:relative;;
			
		}