<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<!--
		========================= Start of PERSISTENCE DEFINITIONS
		=========================
	-->
	<!-- Choose the dialect that matches your "dataSource" definition -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jbdc:oracle:thin:@127.0.0.1:1521:orcl"/>
		<property name="username" value="scott"/>
		<property name="password" value="tiger"/> 
	</bean>

	<!-- Start of Report jdbcTemplate Setting -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="baseTransactionProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"	abstract="true">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="increment*">PROPAGATION_REQUIRES_NEW</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="audit*">PROPAGATION_REQUIRED</prop>
				<prop key="apply*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="modify*">PROPAGATION_REQUIRED</prop>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="create*">PROPAGATION_REQUIRED</prop>
				<prop key="cancel*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	<bean id="userService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.renho.service.impl.UserServiceImpl" >
				<property name="userDAO">
					<ref local="userDAO" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="userDAO" class="com.renho.model.dao.impl.UserDAOImpl">
		<property name="jdbcTemplate">
			<ref local="jdbcTemplate"/>
		</property>
	</bean>
</beans>