/*
                        keepfool博客园样式 - Version 1.0.0 beta (2016/05/10)

                        Content:
                        01.全局样式                         07.span文字高亮
                        02.布局样式                         08.演示和下载链接
                        03.随笔样式                         09.推荐和关注
                        04.重要和注意                       10.代码高亮
                        05.标注                             11.侧边栏                             
                        06.表格                             12.广告区域
*/

/* [01.全局样式] */

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-size: 1.6em;
    line-height: 1.8;
    cursor: default;
    font-family: 'Hiragino Sans GB','Helvetica Neue', Helvetica, 'Segoe UI','Micrsoft YaHei', 微软雅黑, 'WenQuanYi Micro Hei',Tahoma,Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-moz-selection {
    background: #FFEFD5;
}

::selection {
    background: #FFEFD5;
}

code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    white-space: nowrap;
    background-color: #f9f2f4;
    border-radius: 4px;
}

/* [02.布局样式] */

#home {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #eee;
}

#header {
    margin-top: 0;
    padding-bottom: 0;
}

#navigator {
    position: relative;
    height: 74px;
    box-sizing: border-box;
    background-color: #36424a;
    margin-top: 0;
    padding: 0 8px 0 8px;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-size: 1.1em;
}

#navList {
    height: 100%;
}

    #navList a:link, #navList a:visited {
        color: #ccc;
        display: block;
        height: 74px;
        box-sizing: border-box;
    }

    #navList a:active, #navList a:hover, #navList a:focus {
        color: #fff;
        background-color: #DA4453;
        border-radius: 4px;
    }

#blogTitle {
    display: none;
}

#main {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

#mainContent {
    margin-left: -20em;
    padding: 15px 0px 10px 0;
}

    #mainContent .forFlow {
        margin-left: 20em;
    }


/* [03.随笔样式] */

.post {
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #384046;
    line-height: 1.8em;
    background: #fff;
    border: 1px solid #E6E6FA;
    box-shadow: rgba(0,0,0,0.1) 0 1px 1px;
    padding: 0.3em 0.6em;
    border-radius: 0;
}

    .post .postTitle {
        margin-bottom: 15px;
        border-bottom: 1px solid #eee;
        font-size: 2em;
    }

.postTitle {
    padding: 10px 10px 20px 5px;
    border-left: 5px solid salmon;
}

    .postTitle a:link, .postTitle a:visited, .postTitle a:active {
        color: #FA8072;
    }

    .postTitle a:hover {
        color: #FF6347;
    }

#topics .postTitle {
    font-size: 2em;
}

.post .postTitle a {
    text-decoration: none;
    padding: 0;
    line-height: 30px;
    color: #FA8072;
    letter-spacing: 1px;
}

    .post .postTitle a:hover {
        color: #FF6347;
    }

.postBody {
    margin-bottom: 30px;
    font-size: 1em;
    color: #2F4F4F;
}

#cnblogs_post_body ul {
    padding: 2px 32px 2px 12px;
}


#cnblogs_post_body h1 {
    clear: both;
    color: #fff;
    display: block;
    font-size: 1.7em;
    padding: 0.2em 0.5em;
    margin: 35px 0 15px;
    position: relative;
    background: #2C3E50;
    border-radius: 4px;
}


#cnblogs_post_body h2 {
    color: #FF6347;
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 5px 0 5px 15px;
}

#cnblogs_post_body h3 {
    color: #1E90FF;
    font-size: 1.3em;
    padding: 15px 20px;
    margin: 5px 0 5px 25px;
}


#cnblogs_post_body p {
    margin: 10px 10px 10px 30px;
}

.postBody ol, .postBody ul {
    margin-left: 50px;
}

.postBody blockquote {
    background-color: #f0f0e3;
    border-left: 5px solid #00539f;
    color: #000;
    font-size: 16px;
    line-height: 1.45;
    margin: 1em 0;
    padding: 0;
    position: relative;
    margin-left: 4%;
    margin-right: 4%;
}

#blog_post_info_block {
    margin-left: 10px;
}


#EntryTag a:link, #EntryTag a:visited, #EntryTag a:active,
#BlogPostCategory a:link, #BlogPostCategory a:visited, #BlogPostCategory a:active {
    text-decoration: none;
    display: inline-block;
    padding: .25em .5em;
    margin: 0 3px;
    font-size: 16px;
    color: #fff;
    background: -webkit-gradient(linear,left top,left bottom,from(#e85c33),to(#E74C3C));
    background: -webkit-linear-gradient(top,#e85c33 0,#E74C3C 100%);
    background: linear-gradient(to bottom,#e85c33 0,#E74C3C 100%);
    border-radius: 4px;
}

#EntryTag a:hover, #BlogPostCategory a:hover {
    background: #36424a;
}


/* [04.重要和注意] */

.postBody .important {
    background: none repeat scroll 0 0 #e7f4ff;
    border: 1px solid #c9ddfa;
    margin: 0 0 20px;
    padding: 12px 15px;
}

.postBody .note {
    position: relative;
    background: #fff4cc;
    border-left: 5px solid #ffe070;
    margin-left: 50px !important;
    padding: 12px 15px;
}

    .postBody .note .dogear {
        height: 14px;
        width: 15px;
        z-index: 1;
        display: block;
        position: absolute;
        top: -1px;
        right: -2px;
        background: url(//files.cnblogs.com/files/keepfool/sprite-article.gif) no-repeat 0 0;
    }


/* [05.标注] */

.postBody .bs-callout {
    padding: 20px;
    margin: 10px 0 10px 50px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.postBody .bs-callout-info {
    border-left-color: #1b809e;
}

.postBody .bs-callout-warning {
    border-left-color: #aa6708;
}

.postBody .bs-callout-danger {
    border-left-color: #ce4844;
}


/* [06.表格] */

.postBody .post-table {
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 0;
}

    .postBody .post-table th, .post-table td {
        border: 1px solid #e2e4e6;
    }

    .postBody .post-table th {
        background: #f1f1f1;
        color: #000;
    }

    .postBody .post-table tr:nth-of-type(even) {
        background: #fff;
        color: #000;
    }

    .postBody .post-table tr:nth-of-type(odd) {
        background: #fff;
        color: #000;
    }

    .postBody .post-table th {
        padding: 10px 15px;
        font-size: 15px;
    }

    .postBody .post-table td {
        padding: 3px 6px;
        color: #333;
    }

/* [07.span文字高亮] */

.postBody .spec-red, .postBody .spec-yellow, .postBody .spec-green {
    display: inline-block;
    border-radius: 2px;
    letter-spacing: 1px;
    font-size: 0.9em;
    font-family: 'Segoe UI',Consolas;
    margin: 0 3px;
    padding-left: 5px;
}

.postBody .spec-green {
    background: #c6e2cc;
    color: #309c40;
    border-left-color: #309c40;
}

.postBody .spec-yellow {
    background: #fff4cc;
    color: #900;
    border-left-color: #ffe070;
}

.postBody .spec-red {
    background: #f4d7c9;
    color: #e66e33;
    border-left-color: #e66e33;
}



/* [08.演示和下载链接] */

.postBody .btn-demo {
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #666;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 15px;
}

.postBody .btn-download {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #19b586;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    text-shadow: rgba(35,69,90,0.51) 0 -1px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 2px;
    box-shadow: 0 2px 2px #cddbe2;
    -webkit-box-shadow: 0 2px 2px #cddbe2;
    -moz-box-shadow: 0 2px 2px #cddbe2;
    -moz-transition: opacity .2s linear;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    margin: 10px;
    padding: 5px 20px;
}

    .postBody .btn-download:hover {
        background-color: #e05326;
        color: #fff;
        text-decoration: none;
    }

/* [09.推荐和关注] */

.fastcomment {
    border: 1px solid #555555;
    color: #FFFFFF;
    height: 30px;
    width: 50px;
}

    .fastcomment:hover {
        color: #000000;
    }

#div_digg {
    background-color: lightyellow;
    border: 1px solid #CCCCCC;
    bottom: 0;
    margin: 10px 35px 10px 10px;
    padding: 10px;
    position: fixed;
    right: 0;
    z-index: 10;
    -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s; 
    border-color:rgba(250,128,114,.75); 
    -webkit-box-shadow:2px 2px 50px rgba(250,51,51,3); 
    box-shadow: 2px 2px 50px rgba(250,51,51,3);
}

#div_digg:hover {
    border-color:rgba(240,69,100,.75); 
    -webkit-box-shadow:0 0 18px rgba(240,1,32,3); 
}

.diggit {
    margin-left:3px;
    width: 128px;
    height: 128px;
    background: url('//images.cnblogs.com/cnblogs_com/piscesLoveCc/828206/t_viewfile.png') no-repeat;
    opacity: 0.9;
}

.diggit:hover {
        opacity: 1;
}


#div_digg .diggnum {
    line-height: 120px !important;
}
.diggnum {
    font-size: 28px;
    color: #f0454c;
    font-family: monospace;
    margin-right: 7px;
}

.buryit {
    display: none;
}

.keepfool-favorite {
    background: url("//images.cnblogs.com/cnblogs_com/keepfool/344216/r_favestar.png") no-repeat;
}

/* [10.代码高亮] */

.hljs {
    font-size: 0.9em;
    margin-left: 4%;
    margin-right: 4%;
    max-height: 600px;
    border: 1px solid #eee;
    border-radius: 0.3em;
}


pre.code {
    border-top: #ff9900 1px dashed;
    border-right: #ff9900 1px dashed;
    border-bottom: #ff9900 1px dashed;
    border-left: #6ce26c 5px solid;
    font-size: 12px;
    font-family: Consolas;
}

.code-toolbar {
    color: #fff;
    display: block;
    font-size: 16px;
    margin-left: 4%;
    margin-right: 4%;
    background: #36424a;
    border-radius: 2px 2px 0 0;
    padding: 6px;
    height: 40px;
    box-sizing: border-box;
    position: relative;
}

    .code-toolbar img {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 0;
        top: 8px;
    }

    .code-toolbar span {
        box-sizing: border-box;
        display: inline-block;
        margin-left: 20px;
        line-height: 28px;
    }

    .code-toolbar a {
        color: #fff;
    }

        .code-toolbar a:hover {
            background: none;
        }

/* [11.侧边栏] */

#sideBar {
    margin-top: 25px;
    padding: 10px 40px;
    background: #fff;
    box-shadow: rgba(0,0,0,0.1) 0 1px 1px;
    border: 1px solid #E6E6FA;
}

    #sideBar a {
        color: #FA8072;
    }

        #sideBar a:hover {
            color: #FF6347;
        }


.blogStats {
    color: #fff;
}

/* [12.广告区域] */

#ad_t2, #ad_c1, #ad_c2, #under_post_kb, #under_post_news {
    display: none;
}

/* [13.签名] */

#MySignature p {
    margin: 10px 0 10px 50px;
    padding: 10px 10px 10px 140px;
    border: 1px dashed orange;
    color: orangered;
    font-size: 13px;
    background-color: ghostwhite;
    background: url('//files.cnblogs.com/files/keepfool/caution.gif') no-repeat;
    background-position: 20px 5px;
    background-size: 120px 120px;
}

#MySignature p span {
    display: block;
}

.myfollow {
    z-index: 999;
    position: fixed;
    right: 65px;
    bottom: 155px;
    border-bottom: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.myfollow a {
    text-decoration: none !important;
}

/* [代码块左移] */
.cnblogs_code
{
    margin-left:41px !important;
}

#blog_post_info_block {