<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="MyView"
            id="com.renho.mytest">
      </category>
      <view
            name="Test View"
            icon="icons/sample.gif"
            category="com.renho.mytest"
            class="com.renho.mytest.views.ViewTest"
            id="com.renho.mytest.views.ViewTest">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.renho.mytest.views.ViewTest">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.renho.mytest.commands.category"
            name="my commond category">
      </category>
      <command
            categoryId="com.renho.mytest.commands.category"
            id="com.renho.mytest.commands.sampleCommand"
            name="操作">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.renho.mytest.handlers.MyTestCommondHandler"
            commandId="com.renho.mytest.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.renho.mytest.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.renho.mytest.menus.commondMenu"
               label="通过commond新建的菜单"
               mnemonic="M">
            <command
                  commandId="com.renho.mytest.commands.sampleCommand"
                  id="com.renho.mytest.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.renho.mytest.toolbars.sampleToolbar">
            <command
                  commandId="com.renho.mytest.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="com.renho.mytest.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:com.renho.mytest.views.ViewTest?after=additions">
         <menu
               id="sdafdfsdfdfsd"
               label="sdafdfsdfdfsd"
               mnemonic="M">
            <command
                  commandId="com.renho.mytest.commands.sampleCommand"
                  id="com.renho.mytest.command1"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:com.renho.mytest.views.ViewTest?after=additions">
         <command
               commandId="com.renho.mytest.commands.sampleCommand"
               icon="icons/sample.gif"
               id="com.renho.mytest.toolbars.sampleCommanddd"
               tooltip="Say hello world">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.renho.mytest.views.ViewTest?after=additions">
         <command
               commandId="com.renho.mytest.commands.sampleCommand"
               icon="icons/sample.gif"
               id="com.renho.mytest.toolbars.sampleCommandddcc"
               tooltip="Say hello world">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.renho.mytest.objectContribution1"
            nameFilter="Two"
            objectClass="java.lang.String">
         <menu
               id="com.renho.mytest.menu1"
               label="objectTwoMenu"
               path="additions">
         </menu>
         <action
               class="com.renho.mytest.actions.TestObjectAction"
               id="com.renho.mytest.testObjectAction"
               label="open"
               menubarPath="additions">
         </action>
      </objectContribution>
      <viewerContribution
            id="com.renho.mytest.viewerContribution1"
            targetID="com.renho.mytest.views.ViewTest">
         <action
               class="com.renho.mytest.actions.TestViewAction"
               icon="icons/sample.gif"
               id="com.renho.mytest.actionx"
               label="view操作"
               menubarPath="com.renho.mytest.menu2/testSeparator">
         </action>
         <menu
               id="com.renho.mytest.menu2"
               label="smsmmenu"
               path="additions">
            <separator
                  name="testSeparator">
            </separator>
         </menu>
      </viewerContribution>
   </extension>

</plugin>
